<div class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" type="email" [formControl]="email" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      type="password"
      placeholder="Password"
      [formControl]="password"
    />
  </mat-form-field>
  <button mat-raised-button (click)="login()">Login</button>
  <div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="error">
    <h3 class="error-message">Error: {{ error.message }}</h3>
  </div>
</div>
